.chat-side
  .user-name
    .top-items
      .name 
        = current_user.name
      .top-items__icons
        =link_to"#",class:"top-items__icons top-items__icons__left-icon"do
          =icon('far','edit',class:'top-items__icons--left-icon')
          %span<>
        =link_to edit_user_path(current_user.id),class:"top-items__icons top-items__icons__right-icon"do
          =icon('fas','cog',class:'top-items__icons--right-icon')
          %span<>
  .group-items
    .group-box
      .group-name
        techcamp
    .message-box
      .group-message
        まだメッセージがありません
  .group-items
    .group-box
      .group-name
        techcamp
    .message-box
      .group-message
        まだメッセージがありません
  .group-list
    